*.json
*.JSON
.vscode/
settings.json
*.jpg
*.mat
*.pyc
*.__pycache__
*.DS_store
crypt.py
*__pycache__
creds.txt
*.ipynb
.ipynb_checkpoints
*.ipynb_checkpoints
aggragted_csv*
running_main_csv_TEST_DATA.csv
scrape_api_DELETE_LATER.py
* .DS_store
*DS_store
