<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Faster Pet Adoption- Strategic Marketing Solutions">
    <meta name="author" content="Elsa Velazquez">
    <link rel="icon" href="static/img/favicon-nichi.png">

    <!-- <title>Faster Pet Adoption</title> -->

    <!-- Bootstrap core CSS -->
    <!-- <link href="../static/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/js/ie-emulation-modes-warning.js"></script>

    <!-- Custom styles for this template -->
    <link href="../static/css/my-style-sheet.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  
  
  <style>
    p:hover{
      background-color: #e9f5f2;
    }
    /* div {background-color: green;} */
div a {
  text-decoration: none;
  color: #e9f5f2;
  font-size: 18px;
  /* padding: 15px;  */
  display:inline-block;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: black;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 100px;
  display: none;
  align: left;
}
ul li ul li { 
  background: black; 
  display: block; 
  text-align: center;
  padding: 8px;
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background: black;}

/* A:link { COLOR: black; TEXT-DECORATION: none; font-weight: normal } */
A:visited { COLOR: lightgrey; TEXT-DECORATION: none; font-weight: normal }
A:active { COLOR: green; TEXT-DECORATION: none }
A:hover { COLOR: #e9f5f2; TEXT-DECORATION: underline; font-weight: normal }
   
#hiddenmenu {
  background-color: white;
	position: fixed;
  top: 0;
  z-index:1;
	width: 100%;
  height: 100px;
  }
#header {
  background-color: white;
  width: 100%;
  top: 0;
  position:absolute;
  z-index:2;
  }
#body {
  padding-top: 0px;
  position:absolute;
  background-color: white;
	width: 100%;
  z-index: auto;
  }
  hr{
    margin-top: 0.35em !important;
    margin-bottom: 0.35em !important;
    border-width: 1px;
    background-color: #white;
    border: none;
    }
    </style>
    
    
    
    <div id="hiddenmenu"> <!-- begin sticky menu-->

       <!--BEGIN logo -->
       <table>
        <tbody style='width:80%'>
        <tr>
        <td>&nbsp;<img src="static/img/nichi-logo-ears-hanging.png" style="width:100%"  align='center'></td>
        </tr>
        </tbody>
      </table>
      <!--END logo -->

      
  <!--BEGIN MAIN MENU  -->
    <div class="container" align='center' style="width: 100%;">  <!--BEGIN DIV MENU -->
    <table style='width:80%'> <!-- BEGIN TABLE  -->
      <tbody style='width:100%'> <!-- BEGIN TBODY  -->
        <tr style='width:80%'> <!-- BEGIN TR -->
              <td bgcolor='black' > <!-- BEGIN TD  -->
                <nav class="navbar navbar-inverse navbar-fixed-top" > <!-- BEGIN NAVBAR-NAV INVERSE  -->
                  <div class="container"> <!-- BEGIN CONTAINER  -->
                    <div id="navbar" class="collapse navbar-collapse" align='center'> <!-- BEGIN DIV NAVBAR-NAV  -->
                      <ul class="nav navbar-nav" background-color='black'> <!-- BEGIN CLASS NAVBAR-NAV  -->
                          <li > <!-- BEGIN HOME  -->
                            <img src="static/img/black_box.png" style="width:20%" align='left'><a href="/">Home </a>
                          </li> <!-- END HOME  -->
                          <li > <!-- BEGIN INPUT  -->
                            <img src="static/img/black_box.png" style="width:20%" ><a href="/">Input a Dog Description </a>
                          </li> <!-- END INPUT  -->         
                          <li> <!-- BEGIN ABOUT  -->
                              <img src="static/img/black_box.png" style="width:5%"><a href="/about">About</a>    
                          </li> <!-- END ABOUT  -->
                          <li> <!-- BEGIN CONTACT  -->
                            <img src="static/img/black_box.png" style="width:5%"><a href="/contact">Contact</a>
                                              <!-- BEGIN DROP DOWN MENU -->
                                              <ul>
                                                <li><img src="static/img/black_box.png" style="width:5%"><a href="#">Message</a></li>
                                                <li><img src="static/img/black_box.png" style="width:5%"><a href="https://www.linkedin.com/in/elsa-data-sci/">LinkedIn</a></li>        
                                                <li><img src="static/img/black_box.png" style="width:5%"><a href="https://github.com/elsaVelazquez">GitHub</a></li>   
                                              </ul> 
                                              <!-- END DROP DOWN MENU -->
                          </li> <!-- END CONTACT  -->
                      </ul> <!-- END CLASS NAVBAR-NAV  -->
                    </div> <!-- END DIV NAVBAR-NAV  -->
                  </div><!-- END CONTAINER -->
                </nav> <!-- END NAVBAR-NAV INVERSE -->
              </td> <!-- END TD  -->
        </tr> <!-- END TR  -->
      </tbody> <!-- END TBODY  -->
    </table> <!-- END TABLE  -->
    </div>  <!-- END DIV MENU-->
  </div> <!-- end sticky menu-->
        
        
  <div id="header">
  <!-- THIS HEADER IS TO KEEP THE BACK ClEAR  -->
   </div>
   
   <hr width="500px;" color="white" size="250">  
  <div id="body" style="text-align:center;">


<div class="container" align='right' style="width: 100%"> <!-- BEGIN CLASS CONTAINER -->
  <div class="subnav">   <!-- BEGIN CLASS SUBNAV -->
    <table style="width: 100%">
      <tbody>
      <tr>
            <td >    
              <div class="subnav" style="justify-content: right" align='center' >
                  <button class="subnavbtn" align='center'>About <i class="fa fa-caret-down"></i></button>
                  <div class="subnav-content">
                    &bull;<a href="#who" style="color:darkslategrey;">Who</a>
                    &nbsp;&bull; <a href="#what"  style="color:darkslategrey;">What </a> 
                    <!-- #naive bayes, logistic regression, f1 -->
                    <br>&bull; <a href="#why" style="color:darkslategrey;">Why </a>
                  </div>
              </div>
            </td>
              
            <td >
              <div class="subnav" style="justify-content: right" align='center'>
                  <button class="subnavbtn">Data Pipelines <i class="fa fa-caret-down"></i></button>
                  <div class="subnav-content">
                    &bull;<a href="#scraping" style="color:darkslategrey;">Web Scraping</a>
                    &nbsp;&bull; <a href="#etl"  style="color:darkslategrey;">ETL</a>
                    <br>&bull; <a href="#ingestion" style="color:darkslategrey;">Data Ingestion</a>
                  </div>
              </div>
            </td>

            <td>
              <div class="subnav" style="justify-content: right" align='center'>
                <!-- <hr width="500px;" color="white" size=".1">  -->
                <button class="subnavbtn">Machine Learning <i class="fa fa-caret-down"></i></button>
                <div class="subnav-content">
                  &bull;<a href="#nlp" style="color:darkslategrey;">NLP</a>
                  &nbsp;&bull; <a href="#img" style="color:darkslategrey;">Img Classifier</a>
                  <br>&bull; <a href="#time" style="color:darkslategrey;">Time Series</a>
                  <!-- future section -->
                </div>
              </div>
            </td>
      </tr>
      </tbody>
    </table>
    </div> <!-- END CLASS SUBNAV -->
  </div>  <!-- END CLASS CONTAINER --> 
<!-- </div > end CLASS CONTIANER FOR submenu -->
    <!-- </nav> -->

<div class="container"> <!-- BEGIN CLASS CONTIANER FOR BODY -->
<!-- <div id="body"> -->


<h2 id="purpose">Introduction</h2>    
<p>How can we get pets adopted faster?</p>

<h2 id="purpose">Purpose</h2>

<p>I seek a position as a Junior Data Scientist, specializing in ETL (Extract, Transform, Load) pipelines.</p>

<h2 id="purpose">Method</h2>

<p>I evaluated the entire approach to displaying a rescue dog online and recommend that during this pandemic, shelters focus
on writing solid text descriptions of the dog over pouring resources into photos, despite age, breed, color or dog size. 


<h2 id="methods">ETL Pipeline</h2>

<!-- <script src="https://cdn.anychart.com/releases/v8/js/anychart-core.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-sankey.min.js"></script> -->
<!-- </head> -->
<!-- <body> -->
<!-- <div id="container"></div> 
<script>
anychart.onDocumentReady(function(){
 //creating the data
var data = [
 {from: "France", to: "Canada", weight: 3000},
 {from: "France", to: "Germany", weight: 2000},
 {from: "Credentials", to: "South Africa", weight: 1100},
 {from: "France", to: "Portugal", weight: 900},
 {from: "US", to: "China", weight: 2200},
 {from: "US", to: "Canada", weight: 400},
 {from: "US", to: "Germany", weight: 700},
 {from: "US", to: "Portugal", weight: 200},
 {from: "Canada", to: "China", weight: 1500},
 {from: "Canada", to: "Japan", weight: 3300},
 {from: "Canada", to: "England", weight: 550},
 {from: "Germany", to: "China", weight: 1100},
 {from: "Germany", to: "Japan", weight: 750},
 {from: "Germany", to: "England", weight: 400},
 {from: "South Africa", to: "China", weight: 3100},
 {from: "Portugal", to: "China", weight: 2100},
 {from: "Portugal", to: "Japan", weight: 1600}
];
//calling the Sankey function
var sankey_chart = anychart.sankey(data);
//customizing the width of the nodes
sankey_chart.nodeWidth("50%");
//setting the chart title
sankey_chart.title("API Web Scraping");
//customizing the vertical padding of the nodes
sankey_chart.nodePadding(20);
//setting the container id
sankey_chart.container("container");
//initiating drawing the Sankey diagram
sankey_chart.draw();
});
</script> -->

  
  
  
<!-- begin section with carousel -->

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  

data from:
full twitter datasets from https://pythonprogramming.net/static/downloads/short_reviews/
~5300 per line</p>
<!--     </div> -->
</body>

 </div>
    
<!-- Slide Show -->
<section>
  <img class="mySlides" src="static/img/nichi-in-the-corner-black-and-white-background-fade-in-img-100x86.png" style="width:20%">
  <img class="mySlides" src="static/img/logo.png" style="width:20%">
  <img class="mySlides" src="static/img/nichi-in-the-corner-black-and-white-background-fade-in-img-100x86.png" style="width:20%">
</section>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-black w3-xlarge">
  <a href="#"><i class="fa fa-facebook-official"></i></a>
  <a href="#"><i class="fa fa-pinterest-p"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-flickr"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <p class="w3-medium">
  Contact Elsa Velazquez at  <a href="elsa-data-sci.tech" target="_blank">elsa-data-sci.tech</a>
  </p>
</footer>

<script>
// Automatic Slideshow - change image every 3 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 3000);
}
</script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
  <!-- </body> -->
</html>
