<!doctype html>

<html lang="en">
<head>

  <meta charset="utf-8">

  <title>Faster Pet Adoption Dog Description Classifier</title>

  <meta name="description" content="Faster Pet Adoption Dog Description Classifier">
  <meta name="Elsa Velazquez" content="Faster Pet Adoption">

</head>

<body>

  <h1>Faster Pet Adoption Dog Description Classifier</h1>
  <p>This application consumes your description of a dog and classifies its sentiment (is it a good dog or a sick dog, bad dog, shy dog, etc)</p>
  <p><a href="/submit">How did I describe the doggo?</a></p>

</body>
</html>
