
<!doctype html>

<html lang="en">
<head>

  <meta charset="utf-8">

  <title>Pet Personality Classifier</title>

  <meta name="description" content="The Pet Descriptor">
  <meta name="Elsa Velazquez" content="Faseter Pet Adoption">

</head>

<body>

  <h1>Dog's Online Presence</h1>

  <span style="color: blue; font-weight: bold;">Your Dog's Description</span>
  <p>{{ article }}</p>
  <span style="color: blue; font-weight: bold;">Your Predicted Dog Personality Type</span>
  <p>{{ predicted }}</p>

</body>
</html>
